.Sides {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.Sides .images img {
  z-index: -1;
}
.Sides .images img:nth-child(1) {
  position: absolute;
  left: 600px;
  top: 116px;
  scale: 0.8;
}
.Sides .images img:nth-child(2) {
  position: absolute;
  left: 300px;
  top: 200px;
  scale: 1;
}
.Sides .images img:nth-child(3) {
  position: absolute;
  left: 200px;
  top: 450px;
  scale: 1.3;
}
.Sides .images img:nth-child(4) {
  position: absolute;
  left: 350px;
  top: 100px;
  scale: 0.8;
}
.Sides .images img:nth-child(5) {
  position: absolute;
  left: 800px;
  top: 500px;
  scale: 1.3;
}
.Sides .text div:nth-child(1) h1 {
  font-size: 40px;
}
.Sides .text div:nth-child(2) h1 {
  font-size: 40px;
  -webkit-text-stroke: 1.5px #ff4c60;
}
.Sides .text div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.Sides .text div:nth-child(3) h1 {
  font-size: 20px;
}
.Sides .logo img {
  height: 525px;
  max-width: 500px;
}
@media screen and (0<=width<=425px) {
  .Sides .text div:nth-child(1) h1 {
    font-size: 15px;
  }
  .Sides .text div:nth-child(2) h1 {
    font-size: 15px;
    color: #ff4c60;
    width: 60%;
  }
  .Sides {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .Sides .logo img {
    height: 300px;
    width: 280px;
  }
  .Sides .images img:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 20px;
    scale: 0.8;
  }
  .Sides .images img:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 100px;
    scale: 1;
  }
  .Sides .images img:nth-child(3) {
    position: absolute;
    left: 0px;
    top: 350px;
    scale: 1.3;
  }
  .Sides .images img:nth-child(4) {
    position: absolute;
    left: 200px;
    top: 300px;
    scale: 0.8;
  }
  .Sides .images img:nth-child(5) {
    position: absolute;
    left: 190px;
    top: -10px;
    scale: 1.1;
  }
  canvas {
    display: block;
    width: 40vw;
    height: 500px;
  }
}
@media screen and (425px<=width<=768px) {
  canvas {
    display: block;
    width: 60vw;
    height: 718px;
  }
  .Sides .text div:nth-child(1) h1 {
    font-size: 19px;
  }
  .Sides .text div:nth-child(2) h1 {
    font-size: 19px;
    color: #ff4c60;
    width: 60%;
  }
  .Sides {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .Sides .logo img {
    height: 500px;
    width: 380px;
  }
  .Sides .images img:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 20px;
    scale: 0.8;
  }
  .Sides .images img:nth-child(2) {
    position: absolute;
    left: 100px;
    top: 100px;
    scale: 1;
  }
  .Sides .images img:nth-child(3) {
    position: absolute;
    left: 0px;
    top: 350px;
    scale: 1.3;
  }
  .Sides .images img:nth-child(4) {
    position: absolute;
    left: 250px;
    top: 200px;
    scale: 0.8;
  }
  .Sides .images img:nth-child(5) {
    position: absolute;
    left: 300px;
    top: -10px;
    scale: 1.1;
  }
}
/* === removing default button style ===*/
.button-animation .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button-animation .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ff4c60;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;

  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
}
