
.Social{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    height:192px;
    background:#F9F3F5;
    margin:45px 0;
    position: relative;
}
.Social .social-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.Social .social-logos .Socials a img {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 36px;
    width: 17px;
}
.Social .social-logos .Socials a img:nth-child(1) {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 20px;
    width: 17px;
}
.Social .social-logos .Socials a h1 {
    height: 26px;
    width: 71px;
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.Social .social-logos .Socials a{
    height: 64px;
    width: 79px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:12px;
}
.Socials:hover div{
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 3px;
    background: black;
    animation: seif11 1s ;
}
@keyframes seif11{
    from{
        width: 0px;
    }   
    to{
        width: 100px;
    }
}
@media screen and (0<=width<=425px){
    .Social{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-evenly;
        height:80vh;
        background:#F9F3F5;
    }   
    .Social .social-logos {
        display: flex;
        align-items: center;
        flex-direction:column;
        justify-content: space-between;
        gap: 12px 0;
    }
}
@media screen and (425px<=width<=768px){
    .Social{
        margin:12px 0;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-evenly;
        height:80vh;
        background:#F9F3F5;
    }   
    .Social .social-logos {
        display: flex;
        align-items: center;
        flex-direction:column;
        justify-content: space-between;
        gap: 12px 0;
    }
}